name: Build and Deploy Resume

on:
  push:
    branches:
      - main  # Ganti ke 'master' jika branch utama Anda bernama master

jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: CV-Fikri_Hidayatulloh.tex # Sesuaikan dengan nama file .tex Anda

      - name: Prepare Deployment Folder
        run: |
          mkdir -p public
          cp CV-Fikri_Hidayatulloh.pdf public/CV-Fikri_Hidayatulloh.pdf
          # Membuat file index.html agar link utama tidak 404
          echo '<!DOCTYPE html><html><head><meta http-equiv="refresh" content="0; url=CV-Fikri_Hidayatulloh.pdf"></head><body><p>Redirecting to <a href="CV-Fikri_Hidayatulloh.pdf">CV-Fikri_Hidayatulloh.pdf</a>...</p></body></html>' > public/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages